# Python cache
__pycache__/
*.pyc

# Spark tarballs
*.tgz
*.tar.gz

# Editor swap files
*.swp

# Environment / runtime
.env
*.log

# Spark temporary files
*.crc

workspaces/CRIS/cris/datalake/raw


# Ignore all Parquet files anywhere
*.parquet

# Ignore Delta files
*_delta_log/

# Ignore Spark job result markers
_SUCCESS
_PART*